/*@charset "utf-8";*/

html {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px
}
body{
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 1.8;
	letter-spacing: 0.5px;
	word-wrap: break-word;
	font-weight: 400;
}
#app {
  margin: 0 auto;
  padding: 0;
}

svg{
	fill: currentcolor;
	width: 15px;
	height: 15px;
}
img.svg{
	width: 15px;
	height: 15px;
}
.arlo_tm_wrapper_all,
.home_page_section,
.home_page{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
#ripple{
	position: relative;
	z-index: 0;
}
.home_page{
	position: relative;
	z-index: 2;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #333;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #333;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #333;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #333;
}

::placeholder { /* Most modern browsers support this now. */
   color: #333;
}


/*---------------------------------------------------*/
/*	HOME PAGE
/*---------------------------------------------------*/

.home_page{
	margin: 0 auto;
	width: 100%;
	height: auto;
	float: left;

	padding-left: 300px;

	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.home_page.full{padding-left: 0px;}
.home_page.opened{padding-left: 0px;}
.home_page .rightpart_inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.header_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 100px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.universal_box_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.universal_box_wrap .bg_wrap{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}
.universal_box_wrap .overlay_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 15;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.universal_box_wrap .overlay_video{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 15;
	overflow: hidden;
}
.universal_box_wrap .overlay_video video{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
}
.universal_box_wrap .overlay_color{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 20;
}
.universal_box_wrap .content{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	z-index: 25;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.universal_box_wrap .overlay_image.hero{
	background-image: url("../src/assets/img/hero/2.jpg");
}
.universal_box_wrap .overlay_color.hero{background-color: rgba(7,23,55,.8);}
.universal_box_wrap .content.hero{height: 100vh;}
.header_wrap .inner_content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	text-align: center;
	width: 100%;
	padding: 0px 20px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.header_wrap .image_wrap{
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-bottom: 38px;
}
.header_wrap .image_wrap img{
	border-radius: 100%;
	border: 8px solid rgba(255,255,255,.5);
}
.header_wrap .name_holder h3{
	font-family: "Montserrat";
	text-transform: uppercase;
	color: #fff;
	font-size: 50px;
	font-weight: 300;
}
.header_wrap .name_holder h3 span{
	font-weight: 500;
	color: #E3872D;
}
.header_wrap .text_typing{
	width: 100%;
	height: auto;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.header_wrap .text_typing p{
	color: #fff;
	font-size: 24px;
	font-family: "Montserrat";
}
.animation_text_word{
	font-weight: 600;
	line-height: 1;
	font-family: "Montserrat";
}
.arlo_tm_about_wrap {color: #E3872D;}
.animation_text_word1,.animation_text_word2{color: #E3872D;}
.arlo_tm_arrow_wrap{
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
	margin-left: -21px;
	z-index: 55;
}
.arlo_tm_arrow_wrap.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
.arlo_tm_arrow_wrap a{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
}



/*---------------------------------------------------*/
/*	05) ARLO COUNTERBOX
/*---------------------------------------------------*/

.arlo_tm_counter_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_counter_wrap{overflow: hidden;}
.arlo_tm_counter_list{
	list-style-type:none;
	width:100%;
	margin: 0px;
	
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	perspective: 500px;
}
.arlo_tm_counter_list li{
	width:25%;
	float:left;
	text-align:center;
	margin: 0px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_counter_list li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	padding: 90px 15px 93px 15px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_counter_list li .inner:before{
	position: absolute;
	content: "";
	width: 1px;
	top: 35px;
	bottom: 35px;
	background-color: #d1d7db;
	left: 100%;
}
.arlo_tm_counter_list li:nth-child(4) .inner:before{display: none;}
.arlo_tm_counter_list li h3{
	font-family: "Montserrat";
	color: #181a2f;
	margin-bottom: 10px;
}
.arlo_tm_counter_list li h3 > span{
	font-size: 40px;
	font-weight: 700;
}
.arlo_tm_counter_list li .inner > span{
	color:#666;
	font-family: "Open Sans";
	font-size: 14px;
	display: block;
	font-weight: 600;
}


/*---------------------------------------------------*/
/*	11) ARLO PARTICLE HOMEPAGE
/*---------------------------------------------------*/

#particles-js {
	width: 100%;
	height: 100%;
  	position: relative;
  	z-index: 2;
}
.universal_box_wrap.particle{
	height: 100vh;
	position: relative;
	background-image: url(..//img/hero/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.universal_box_wrap.particle .particle_overlay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color:rgba(7,23,55,.8);
}

/*---------------------------------------------------*/
/*	12) ARLO RIPPLE HOMEPAGE
/*---------------------------------------------------*/

.arlo_tm_ripple_wrap{
	width: 100%;
	height:100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(..//img/hero/2.jpg);
	position: relative;
}
.arlo_tm_ripple_wrap .overlay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(7,23,55,.8);
	z-index: 1;
}
.arlo_tm_ripple_wrap .container{
	height: 100%;
	z-index: 2;
}


/*---------------------------------------------------*/
/*	 ARLO INTRO_PAGE
/*---------------------------------------------------*/

.arlo_tm_intro_universal_bg_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_intro_universal_bg_wrap .bg_wrap{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}
.arlo_tm_intro_universal_bg_wrap .bg_wrap .overlay_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 15;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.arlo_tm_intro_universal_bg_wrap .bg_wrap .overlay_color{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 20;
}
.arlo_tm_intro_universal_bg_wrap .content{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	z-index: 30;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_intro_universal_bg_wrap .bg_wrap .overlay_image.top{background-image: url(..//img/hero/2.jpg);}
.arlo_tm_intro_universal_bg_wrap .bg_wrap .overlay_color.top{background-color: rgba(10,4,37,.85);}
.arlo_tm_intro_universal_bg_wrap .content.top{height: 75vh;}
.arlo_tm_intro_universal_bg_wrap .content.top .main_titles_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 100%;
	padding: 0px 20px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_intro_universal_bg_wrap .logo_holder{margin-bottom: 25px;}
.arlo_tm_intro_universal_bg_wrap .logo_holder span{
	display: block;
	color: #fff;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 10px;
}
.arlo_tm_intro_universal_bg_wrap .intro_definition{margin-bottom: 26px;}
.arlo_tm_intro_universal_bg_wrap .intro_definition p{
	color: #FFFFFF;
	font-size: 25px;
	font-weight: 500;
	font-family: "Montserrat";
}
.arlo_tm_intro_universal_bg_wrap .purchase_button a span{
	position: relative;
	z-index: 2;
}
.arlo_tm_intro_universal_bg_wrap .purchase_button a{
	text-decoration: none;
    color: #fff;
    background-color: #fd4d4d;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 12px 40px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.arlo_tm_intro_universal_bg_wrap .purchase_button a:before{
	position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -25%;
    width: 0%;
    background-color: #fff;
    transform: skew(50deg);
    transition-duration: .6s;
    z-index: 1;
}
.arlo_tm_intro_universal_bg_wrap .purchase_button a:hover:before{width: 160%;}
.arlo_tm_intro_universal_bg_wrap .purchase_button a:hover{color: #000;}
.arlo_tm_intro_universal_bg_wrap .purchase_button a i{margin-right: 10px;}
.arlo_tm_main_demos_wrap,
.arlo_tm_main_demos_title,
.arlo_tm_main_demos_list_wrap,
.arlo_tm_main_demos_list_wrap ul li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #fff;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_main_demos_wrap{padding-bottom: 60px;}
.arlo_tm_main_demos_title{text-align: center;}
.arlo_tm_main_demos_title span{
	display: inline-block;
	text-align: center;
	color: #000;
	font-size: 25px;
	font-weight: 600;
	padding: 80px 0px;
	text-transform: uppercase;
	font-family: "Montserrat";
}
.arlo_tm_main_demos_title.another span{padding-top: 20px !important;}
.arlo_tm_main_demos_list_wrap ul{
	margin: 0px 0px 0px -40px;
	list-style-type: none;
}
.arlo_tm_main_demos_list_wrap ul li{
	margin: 0px 0px 40px 0px;
	float: left;
	width: 33.3333%;
	padding-left: 40px;
	position: relative;
	top: 0px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.arlo_tm_main_demos_list_wrap ul li:hover{top: -5px;left: 0px;}
.arlo_tm_main_demos_list_wrap ul li .inner{
	position: relative;
	overflow: hidden;
	box-shadow: 0px 5px 40px -8px rgba(0,0,0,.1);
	padding-bottom: 20px;
}
.arlo_tm_main_demos_list_wrap ul li .inner .image_holder{margin-bottom: 15px;}
.arlo_tm_main_demos_list_wrap ul li .inner .image_holder img{min-width: 100%;}
.arlo_tm_main_demos_list_wrap ul li .inner .name{
	width: 100%;
	float: left;
	text-align: center;
}
.arlo_tm_main_demos_list_wrap ul li .inner .name span{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
	text-transform: uppercase;
}
.arlo_tm_main_demos_list_wrap ul li .inner .name span a{
	text-decoration: none;
	color: #000;
	font-family: "Montserrat";
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.arlo_tm_main_demos_list_wrap ul li .inner .name span a:hover{color: #BC0127;}
.arlo_tm_main_demos_list_wrap ul li .inner .new{
	position: absolute;
	top: 15px;
	left:-33px;
	transform: rotate(-45deg);
}
.arlo_tm_main_demos_list_wrap ul li .inner .new span{
	display: inline-block;
	color: #FFFFFF;
	background-color: #BC0127;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	padding: 5px 45px;
}
.arlo_tm_footer_wrap.intro{
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}

/*---------------------------------------------------*/
/*	13) ARLO PORTFOLIO SINGLE
/*---------------------------------------------------*/

.arlo_tm_portfolio_single_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 150px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_single_wrap .title_holder h3{
	font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -.5px;
    line-height: 1;
	margin-bottom: 100px;
}
.arlo_tm_portfolio_single_wrap .details_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	display: flex;
	flex-direction: row;
	margin-bottom: 100px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_single_wrap .details_wrap .leftbox{
	width: 40%;
	height: auto;
	float: left;
	padding-right: 50px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_single_wrap .details_wrap .name_holder h3{
	font-family: "Montserrat";
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    line-height: 1;
	margin-bottom: 20px;
}
.arlo_tm_portfolio_single_wrap .details_wrap .short_list ul{
	margin: 0px;
	list-style-type: none;
}
.arlo_tm_portfolio_single_wrap .details_wrap .short_list ul li{margin: 0px 0px 3px 0px;}
.arlo_tm_portfolio_single_wrap .details_wrap .short_list ul li:last-child{margin-bottom: 0px;}
.arlo_tm_portfolio_single_wrap .details_wrap .short_list ul li span{display: inline-block;}
.arlo_tm_portfolio_single_wrap .details_wrap .short_list ul li span.first{
    font-weight: 600;
	min-width: 150px;
}
.arlo_tm_portfolio_single_wrap .details_wrap .rightbox{
	width: 60%;
	height: auto;
	float: left;
}
.arlo_tm_portfolio_single_wrap .details_wrap .rightbox p{line-height: 2;}
.arlo_tm_portfolio_single_wrap .images_list{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 50px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_single_wrap .images_list ul{
	margin: 0px;
	list-style-type: none;
}
.arlo_tm_portfolio_single_wrap .images_list ul li{
	margin: 0px 0px 50px 0px;
	float: left;
	width: 100%;
}
.arlo_tm_portfolio_single_wrap .images_list ul li:last-child{margin-bottom: 0px;}
.arlo_tm_portfolio_single_wrap .images_list ul li img{min-width: 100%;}
.arlo_tm_portfolio_single_wrap .pagination_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_single_wrap .pagination_wrap a{
	text-decoration: none;
	color: #000000;
	font-weight: 600;
	font-size: 16px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.arlo_tm_portfolio_single_wrap .pagination_wrap a:hover{color: #E3872D;}

/*---------------------------------------------------*/
/*	14) ARLO MOBILE HEADER
/*---------------------------------------------------*/

.arlo_tm_mobile_header_wrap{
	width: 100%;
	height: auto;
	position: fixed;
	z-index: 11111111;
	left: 0px;
	top: 0px;
	display: none;
}
.arlo_tm_mobile_header_wrap .main_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 30px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #041230;
	border-bottom: 1px solid rgba(255,255,255,.1);
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_trigger{width: auto;}
.arlo_tm_trigger .hamburger{
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.arlo_tm_trigger .hamburger-box{
    width: 30px;
    height: 18px;
    display: inline-block;
    position: relative;
}
.arlo_tm_trigger .hamburger-inner{
    display: block;
    top: 50%;
    margin-top: -2px;
}
.arlo_tm_trigger .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    width: 30px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.arlo_tm_trigger .hamburger-inner::before,
.arlo_tm_trigger .hamburger-inner::after{
    content: "";
    display: block;
}
.arlo_tm_trigger .hamburger-inner::before{top: -8px;}
.arlo_tm_trigger .hamburger-inner::after{ bottom: -10px;}
.arlo_tm_trigger .hamburger--collapse-r .hamburger-inner{
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.arlo_tm_trigger .hamburger--collapse-r .hamburger-inner::after{
    top: -16px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.arlo_tm_trigger .hamburger--collapse-r .hamburger-inner::before{
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.arlo_tm_trigger .hamburger--collapse-r.is-active .hamburger-inner{
    transform: translate3d(0, -10px, 0) rotate(45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.arlo_tm_trigger .hamburger--collapse-r.is-active .hamburger-inner::after{
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.arlo_tm_trigger .hamburger--collapse-r.is-active .hamburger-inner::before{
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.arlo_tm_trigger .hamburger{
	padding: 0px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.arlo_tm_trigger .hamburger-box{display: block;}
.arlo_tm_trigger .hamburger .hamburger-inner::before,
.arlo_tm_trigger .hamburger .hamburger-inner::after,
.arlo_tm_trigger .hamburger .hamburger-inner{
	background-color: #fff;
	width: 30px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.arlo_tm_mobile_menu_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: rgba(4,18,48,.97);
	padding: 30px 20px;
	display: none;
	border-bottom: 1px solid rgba(0,0,0,.09);
	border-top: 1px solid rgba(0,0,0,.09);
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */	
}
.arlo_tm_mobile_menu_wrap .mob_menu{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_mobile_menu_wrap .mob_menu > ul{
	margin: 0px;
	list-style-type: none;
}
.arlo_tm_mobile_menu_wrap .mob_menu > ul > li{margin: 0px 0px 5px 0px;}
.arlo_tm_mobile_menu_wrap .mob_menu > ul > li:last-child{margin-bottom: 0px;}
.arlo_tm_mobile_menu_wrap .mob_menu > ul > li a{
	text-decoration: none;
	color: #fff;
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 19px;
}

/*---------------------------------------------------*/
/*	15) ARLO MEDIA QUERIES (FOR SMALL DEVIVES)
/*---------------------------------------------------*/

@media (max-width: 1400px) {
	.arlo_tm_about_wrap .leftbox{padding-right: 0px;}
}
@media (max-width: 1200px) {
	.arlo_tm_services_wrap .list_wrap ul li{width: 50%;}
	#arlo_tm_popup_blog .close{right: 0px;}
	.arlo_tm_list_wrap > ul.total > li{width: 50%;}
	.arlo_tm_about_wrap .leftbox{display: none;}
	.arlo_tm_about_wrap .rightbox{padding-left: 0px;width: 100%;}
	.arlo_tm_contact_wrap_all .leftbox{width: 100%;padding-right: 0px;margin-bottom: 19px;}
	.arlo_tm_contact_wrap_all .rightbox{width: 100%;float: none;}
}
@media (max-width: 1040px) {
	.arlo_tm_about_wrap{flex-direction: column;}
	.arlo_tm_about_wrap .rightpart .info_list ul li{width: 100%;}
	.arlo_tm_about_wrap .leftpart{width: 100%;padding-right: 0px;margin-bottom: 60px;}
	.arlo_tm_about_wrap .rightpart{width: 100%;}
	.arlo_tm_skills_wrap .inner_wrap{flex-direction: column;}
	.arlo_tm_skills_wrap .leftbox{padding-right: 0px;width: 100%;margin-bottom: 60px;}
	.arlo_tm_skills_wrap .rightbox{width: 100%;padding-left: 0px;}
	.arlo_tm_main_demos_list_wrap ul{margin: 0px;}
	.arlo_tm_main_demos_list_wrap ul li{width: 100%;padding: 0px;}
	.arlo_tm_portfolio_single_wrap .details_wrap{flex-direction: column;}
	.arlo_tm_portfolio_single_wrap .details_wrap .leftbox{padding-right: 0px;width: 100%;margin-bottom: 50px;}
	.arlo_tm_portfolio_single_wrap .details_wrap .rightbox{width: 100%;}
	.arlo_tm_mobile_header_wrap{display: block;}
	.arlo_tm_preloader{display: none;}
	.navbar_left{display: none;}
	.home_page{padding-left: 0px;}
}
@media (max-width: 768px) {
	.header_wrap .name_holder h3{font-size: 40px;}
	.header_wrap .text_typing p{font-size: 21px;}
	.title_holder h3{font-size: 45px;}
	.title_holder:before{top: -2px;}
	.arlo_tm_services_wrap .list_wrap ul{margin: 0px;}
	.arlo_tm_services_wrap .list_wrap ul li{width: 100%;padding-left: 0px;}
	.arlo_tm_counter_list li{width: 50%;}
	.arlo_tm_counter_list li .inner{padding: 45px 15px 48px 15px;}
	.arlo_tm_portfolio_list > li{width: 50%;}
	.arlo_tm_list_wrap > ul.total{margin: 0px;}
	.arlo_tm_list_wrap > ul.total > li{width: 100%;padding-left: 0px;}
	.arlo_tm_about_wrap .about_short_contact_wrap ul li{width: 100%;}
	.totop{right: 20px;bottom: 10px;}
	.totop.opened{bottom: 20px;}
	.arlo_tm_preloader{display: none;}
	.arlo_tm_portfolio_single_wrap .title_holder h3{font-size: 45px;}
}
@media (max-width: 480px) {
	.header_wrap .name_holder h3{font-size: 30px;}
	.header_wrap .text_typing p{font-size: 18px;}
	.title_holder:before{display: none;}
	.title_holder h3{padding-left: 0px;}
	.title_holder span{padding-left: 0px;}
	.arlo_tm_counter_list li{width: 100%;}
	.arlo_tm_counter_list li .inner{padding: 0px 0px 35px 0px;}
	.arlo_tm_portfolio_list{margin: 0px;}
	.arlo_tm_portfolio_list > li{width: 100%;padding-left: 0px;}
	.arlo_tm_counter_wrap{padding: 94px 0px 48px 0px;}
}	